<div class='card-wrapper'>
  <div class='single-card'>
    <h2>
      {{title}}
    </h2>
    <p>
      {{body}}
    </p>
    <em> - {{user.name}}</em>
    <p>{{format_date date_created}}</p>
  </div>
  <div>
    <p>Comments</p>
      {{#each comments as |comment|}}
    <div class="comments">
      {{comment.body}}
       - {{comment.user.name}} {{format_date comment.date_created}}
    </div>
      {{/each}}
  </div>
  {{#if logged_in}}
  <form class="comment-form">
    <div class='new-comment'>
      <input id="comment" type="text"></input>
    <button type="submit"> Leave comment</button>
    </div>
  </form>
  {{else}}
  <div class="comment">
  <p>Log in to leave a comment</p>
  </div>
  {{/if}}
</div>

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}